<div id="loader">
    <div id="loader-border"></div>
    <div class="container">
        <div class="string string1">
            <div class="marbles marble1"></div>
        </div>
        <div class="string string2">
            <div class="marbles marble2"></div>
        </div>
        <div class="string string3">
            <div class="marbles marble3"></div>
        </div>
        <div class="string string4">
            <div class="marbles marble4"></div>
        </div>
        <div class="string string5">
            <div class="marbles marble5"></div>
        </div>
        <div class="string string6">
            <div class="marbles marble6"></div>
        </div>
    </div>
</div>