/* You can add global styles to this file, and also import other style files */
/*fade in animation*/
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadein {
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1200ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.fadeout {
    opacity: 1;
    animation-name: fadeout;
    animation-duration: 300ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.flex-columns {
    display: flex;
    flex-flow: column;
}

.flex-rows {
    display: flex;
    flex-flow: row;
}

.th__clickable {
    cursor: pointer !important;
}

.th__clickable.clicked {
    background-color: #809e2f;
    transition: background-color 2s ease-in-out;
}

.th__clickable > span.asc:after {
    position: absolute;
    content: no-close-quote;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}

.th__clickable > span.desc:after {
    position: absolute;
    content: no-close-quote;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

.symbol {
    font-family: Significante;

}

/*effects*/
.inset-text-effect {
    display: inline-block;
    box-sizing: content-box;
    border: none;
    text-align: center;
    text-overflow: clip;
    white-space: pre;
    color: #888888;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7), -1px -1px 1px rgba(0, 0, 0, 0.7);
}

.inset-text-effect::selection {
    background: #5af;
    color: #fff;
    text-shadow: none;
}