<div class="flex-rows center-top-container"  style="{background-color: red}">
    <div class="generator-pane">
        <div class="teams-container" style="{background-color: red}">
            <teams-table class="redteam" [namesList]="['Panzer','Kilaka','BenD']"></teams-table>
            <!--<teams-pie columns={storeState.columns} ></teams-pie>-->
            <teams-table class="blueteam" [namesList]="['MAMBA','Amir']"></teams-table>
        </div>
        <div class="power-pie-controller">
            <!--<game-button name="Build" color="primary" action={actions.buildTeams} store={this.props.store} ></game-button>-->
        </div>
    </div>
</div>
<div class="flex-rows center-bottom-container" style="{background-color: #55aaff}">
    <game-list [games]="['ut4_mikonos','ut4_riyadh','ut4_abbey']" ></game-list>
    <!--<game-details store={this.props.store} ></game-details>-->
</div>
